---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Venny Agustin";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/venny2.png"/>
    </div>
    <h1>Venny Agustin</h1>
    <span class="badge">Data Analyst, Data Adminstrator</span>
    <h2>About</h2>
    <p>
        Saya adalah fresh graduate dari jurusan Teknik Informatika di Universitas Indraprasta PGRI Jakarta, dengan minat yang kuat di bidang Data Analyst dan Administrasi. Selama studi saya, saya telah mempelajari berbagai teknik analisis data dan manajemen informasi, yang mempersiapkan saya untuk menghadapi tantangan di industri.

    </p>
    <p>
        Saya terbuka terhadap peluang yang dapat membantu saya berkembang dan beradaptasi di lingkungan yang dinamis. Saya percaya bahwa kolaborasi dan inovasi adalah kunci untuk mencapai tujuan bersama, dan saya berkomitmen untuk memberikan kontribusi positif dalam setiap proyek yang saya ikuti. Dengan semangat untuk terus belajar, saya siap untuk berkontribusi di dunia teknologi.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="wordpress" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="php" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        
    </div>
    <h2>Interests</h2>
    <p>
        Saya memiliki minat yang mendalam dalam bidang teknologi, terutama dalam analisis data dan manajemen basis data. Saya tertarik untuk mengeksplorasi cara-cara baru dalam mengolah dan menganalisis data untuk menginformasikan keputusan yang lebih baik. 
        Selain itu, saya juga menikmati pekerjaan di bidang data entry, di mana ketelitian dan efisiensi sangat penting.
        Saya memiliki pengalaman menggunakan WordPress, dan saya senang mengembangkan serta mengelola konten di platform tersebut. 
        Dengan kombinasi minat ini, saya berkomitmen untuk terus belajar dan berkontribusi di dunia teknologi yang terus berkembang.
    </p>

</Layout>

